.main {
    height: 100vh;
}

.header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-action-icon {
    font-size: 30px;
    font-weight: bold;
    color: var(--clr-secundario);
    cursor: pointer;
    margin: 1rem !important;
}

.welcome {
    background-color: var(--clr-white);
    margin: 1rem !important;

}

.welcome h1 {
    font-size: 80px;
    font-weight: bold;
    color: var(--clr-primario-dark);
}

.welcome p {
    font-size: 18px;
    color: var(--clr-primario-dark);
    text-transform: none;
}

.welcome-name {
    text-transform: capitalize;
}

/* .sidebar {
    min-height: 100%;
    margin: 2rem 0 15rem 0 !important;
} */

.menu-item {
    margin-top: 40px !important;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
    padding: 1rem !important;
}

.menu-bg {
    background-color: var(--clr-secundario);
    border-radius: 30px !important;
    width: 160px;
    height: 160px;
    position: relative;
}



.menu-item p {
    color: var(--clr-primario-dark);
    font-size: 18px;
    text-align: right;
    width: 70%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.menu-item i {
    color: var(--clr-primario-dark);
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.active-menu-item a {
    color: var(--clr-active);
}

.active-menu-item i {
    color: var(--clr-active);
}

.content {
    min-height: 100%;
}


.body {
    margin: 1rem !important;
    border-radius: 30px;
}






@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 375px) {
}