.body-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.page-title{
    margin: 20px !important;
    font-weight: bold;
}

.title { 
    font-size: 20px !important;
    color: var(--clr-secundario);
    font-weight: bold;
}

.title-notifications {
    font-size: 2rem;
    margin-left: 30px !important; 
}

.ant-tabs-nav-list {
    padding: 20px !important;
    color: var(--clr-secundario) !important;
}
.container-notifications{
   display: flex;
   background-color: transparent  !important;
   flex-direction: column;
}

.ant-tabs-tab {
    background-color: var(--clr-secundario) !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    margin: 0 20px 0 0 !important;
}
.ant-tabs-tab-btn {
    color: var(--clr-primario-dark) !important;
}

.ant-tabs-ink-bar{
    background: var(--clr-secundario) !important;
}

.ant-badge-count {
    color: var(--clr-primario-dark) !important;
    background: var(--clr-secundario) !important;
    right: 60px !important;
}

.tabs{
    margin-top: 20px;

}
.ant-tabs-content-holder{
    background-color: transparent !important;
}
.menu-notifications{
    display: flex ;
 
   justify-content: space-between;
   margin: 30px !important;
}
.green-dot-container{  
   background-color: var(--clr-secundario) !important;
   height: 800px;
   display: block;
   width: 800px;
   top: 30%;
   right: 30%;
   position: absolute;
   border-radius: 600px;
   z-index: -9999;
}

.card-text{
    font-size: 18px;
    font-weight: 400;
    
}
.card{
    width: 80%;
    margin: 50px !important;
    background-color: var(--clr-white) !important;
}
.form-update{
    margin: 20px !important;
}
.user-info{
    padding:10px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.info-title{
    display: flex;
    justify-content: space-around;
}
.user-info-tag{
    font-size: medium;
}


/* service */

.service {
    width: 100% !important;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card {
    background-color: var(--clr-secundario) !important;
    margin: 2rem 0 !important;
    width: 350px !important;
    height: 350px !important;
    padding: 2rem !important;
    border-radius: 30px !important;
   /*  position: absolute; */
}

.service-title h1 {
    font-size: 40px !important;
    text-align: left;
}

.service-card h2 {
    position: relative;
    top: 10px !important;
    width: 100px !important;
    font-size: 3rem !important;
    font-weight: bold;
    color: var(--clr-secundario-light) !important;
}

.service-card p {
    position: relative;
    color:  var(--clr-secundario-light) !important;
    top: 10px !important;
    font-size: .9rem !important;
    margin-bottom: .5rem !important;
}

.service-card i.arrow {
    background-color: var(--clr-secundario-light) !important;
    color: var(--clr-secundario) !important;
    padding: .5rem !important;
    border-radius: 10px !important;
    font-size: 1.5rem;
    position: relative;
    left: 250px !important;
    top: -30px !important;
}

.service-card i {
    color: var(--clr-secundario-light) !important;
    font-size: 5.5rem;
}

.service-card h3 {
    font-size: 2rem !important;
    position: relative;
    top: 10px !important;
    font-weight: bold;
    color: var(--clr-secundario-light) !important;
}

/* USER */

.user-card {
    background-color: var(--clr-secundario) !important;
    margin: 1rem 0 !important;
    width: 350px !important;
    height: 180px !important;
    padding: 2rem !important;
    border-radius: 30px !important;
}

.user-card h2 {
    font-size: 20px !important;
    margin-bottom: 20px !important;
}

.user-card p {
    font-size: 14px !important;
}

.user-block {
    margin-right: 1rem !important;
    margin-top: .5rem !important;
    font-size: 12px !important;
    background-color: var(--clr-secundario-light) !important;
    color: var(--clr-secundario) !important;
    border-radius: 10px !important;
    width: 130px !important;
    padding: 10px !important;
}

/* APPOINMENTS LIST */

.employee-card {
    background-color: var(--clr-secundario) !important;
    margin: 1rem 0 !important;
    width: 350px !important;
    height: 280px !important;
    padding: 2rem !important;
    border-radius: 30px !important;
}

.employee-card h2 {
    font-size: 30px !important;
}
.block-approve-employee{
    display: flex;
    flex-direction: row;
}
.employee-card p {
    font-size: 14px !important;
}

.employee-approved {
    margin-right: 1rem !important;
    margin-top: .5rem !important;
    font-size: 12px !important;
    background-color: var(--clr-secundario-light) !important;
    color: var(--clr-secundario) !important;
    border-radius: 10px !important;
    width: 85px !important;
    padding: 10px !important;
}

.employee-rejected {
    margin-right: 1rem !important;
    margin-top: .5rem !important;
    font-size: 12px !important;
    background-color: var(--clr-red) !important;
    color: var(--clr-red-light) !important;
    border-radius: 10px !important;
    width: 80px !important;
    padding: 10px !important;
}

.employee-status {
    margin: 1rem 0 !important;
    text-align: center;
    font-size: 12px !important;
    background-color: var(--clr-gray) !important;
    color: var(--clr-primario-dark) !important;
    border-radius: 10px !important;
    max-width: 90px !important;
    padding: 10px !important;
}

/* CALENDARIO ESTILOS */

.calendar {
    width: 80%;
    margin: 4rem 3rem !important;
    background-color: var(--clr-white) !important;
}
.title-appiointment-notifications{
    font-size:40px;
    font-weight: bold;
}
.booked-container{
  
    display: flex;
    align-items: center;
    flex-direction: column;
}
.booked-notification{
  margin: 10px !important;
    position: absolute;
    top: 30%;
    left: 10%;
}
.info-appiointment-notifications{
    font-size: 30px;
    font-weight:200;
    margin: 10px !important;
}
.booked{
    top: 10% !important;
}
.buttons-appointment{
    display: flex;
    margin-top: 40% !important;
    flex-direction: column;
    align-items: center;
}
.button-booked{
    margin:10px !important;
}